*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.aa{
    height: 800px;
    width: 100%;
    background-image: url(./image\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 120vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
































<i class="fa-solid fa-ranking-star"> </i>
