
 body{
   height: 80px;
    width: 100%;
 background: url(./image\ 7.png);
   height: 800px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
   
}

.logo{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.menu li{
    font-size: 18px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins',sans-serif;
}
p{
    position: absolute;
    top: 60%;
    background-color: #fff;
}
