body {
  height: 120vh;
  
}

.sa {
  background-image: url(Images/image\ 7.png);
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.aa {
  height: 800px;
  width: 100%;
  background-image: url(Images/image\ 7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 120vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.salut {
  height: 300px;
  width: 900px;
  background-color: aliceblue;
  position: absolute;
  padding: 10px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -55%);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.az {
  height: 120px;
  width: 100%;

  border-radius: 30px;
}

.AZ {
  width: 100%;
  border-radius: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid #2b2828;
}

.toi {
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aqua;
}

.toi1 {
  font-size: 26px;
}

.v {
  flex-grow: 1;

  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

i {
  font-size: 30px;
}

ul {
  font-family: "Poppins", sans-serif;
  text-align: start;
}

#Foull {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 150px;
}

#toi {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 70%;
  margin: 0 auto;
  /* border:1px solid #2b2828; */
}

.oui {
  height: 300px;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.QZ {
  height: 60px;
  width: 60px;

  margin: 10px;
  display: flex;
  justify-content: center;
}

.bonjour {
  height: 200px;
  width: 97%;

  text-align: center;
}

.QZ i {
  font-size: 60px;
  padding: 15px;
  background-color: rgba(10, 167, 240, 0.257);
  border-radius: 10px;
  color: #0bb9e9ad;
  align-items: center;
  display: flex;
  font-size: 60px;
}

.bonjour h4 {
  font-size: 27px;
  
}

#LOBO {
  height: 100px;
  width: 90%;
  border: 1px solid #2b2828;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}

#Foull1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.oui1 {
  height: 100px;
  width: 20%;
  border: 1px solid #cf2626;
}

#mere {
  max-height: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.P {
  height: 80%;
  min-width: 12%;
  margin: 3px;
  display: flex;
  align-items: center;
}

.P i {
  font-size: 22px;
  margin: 10px;
}

p .P {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.P {
  animation: zebi 10s ease infinite;
}

@keyframes zebi {
  from {
    transform: translate(190px);
  }

  to {
    transform: translateX(-170px);
  }
}

#BUBER {
  display: flex;
  justify-content: center;
}

#page {
  height: 340px;
  width: 90%;
  /* border: 1px solid rgb(10, 240, 10); */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.will {
  height: 100%;
  width: 23%;
  /* border: 1px solid rgb(255, 28, 28); */
  flex-direction: column;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.étoile {
  height: 18px;
  width: 60px;
  /* border: 2px solid black; */
  display: flex;
  align-items: end;
  margin: 16px;
  border-radius: 7px;
  padding: 3px;
  background-color: #445260d2;

}

.si1 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(2\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 5px;
  display: flex;
  justify-content: end;

  /* border: 1px solid rgb(252, 13, 13); */
}

.si2 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(3\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.si3 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(4\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.si4 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(5\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.si5 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(9\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.si6 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(8\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.si7 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(7\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.si8 {
  height: 77%;
  width: 95%;
  background-image: url(Images/Rectangle\ 6\ \(6\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  /* border: 1px solid rgb(252, 13, 13); */
}

.sit {
  height: 32%;
  width: 95%;
  /* border:2px solid #2b2828; */

}

.olli {
  margin: 7px;
  display: flex;
  gap: 90px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.voici i {
  font-size: 20px;
}

.voici b {
  padding: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.877);
}

#BUBER h5 {
  font-size: 25px;
  border: 1px solid #2b282838;
  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

#BUBER h1 {
  font-size: 52px;
}



#christelle {
  height: 780px;
  width: 100%;
  /* border: 1px solid black; */
  margin: 10px;
  background-image: url(Images/image\ 13.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.TEXTIS {
  height: 30%;
  width: 99%;
  /* border: 1px solid rgb(199, 31, 31); */
  margin: 10px;
  display: flex;
}

.TEXTIS {
  font-size: 40px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.YEllo {
  height: 63%;
  width: 99%;
  /* border: 1px solid rgb(199, 31, 31); */
  margin: 10px;
  display: flex;

}

.Testez {
  height: 66%;
  width: 35%;
  /* border: 1px solid rgb(62, 220, 4); */
  justify-content: center;

}

.REmide {
  height: 85%;
  width: 50%;
  /* border: 1px solid rgb(26, 68, 234); */
  margin: 10px;
  display: flex;

  padding: 30px;
  gap: 2px;

}

.texteIMG {
  height: 90%;
  width: 65%;
  ;
  /* border: 3px solid rgb(8, 8, 8); */
  margin: 5px;
  white-space: normal;
  padding: 2px;
  gap: 5px;
  display: flex;
}

.case {
  height: 97%;
  width: 30%;
  /* border: 2px solid rgb(84, 79, 79); */
  gap: 5px;
  display: flex;
  flex-direction: column;
  margin: 1px;
  margin: 0 auto;
}

.Imge {
  height: 90%;
  width: 90%;
  /* border: 2px solid rgb(201, 36, 36); */
  margin: 9px;
  background-image: url(Images/Rectangle\ 53.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Imge2 {
  height: 90%;
  width: 90%;
  /* border: 2px solid rgb(201, 36, 36); */
  margin: 9px;
  background-image: url(Images/Rectangle\ 54\ \(1\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.Imge3 {

  height: 90%;
  width: 90%;

  margin: 9px;
  background-image: url(Images/Rectangle\ 54.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.texTE {
  height: 20%;
  width: 95%;
  /* border: 2px solid rgb(33, 166, 15); */
  margin: 7px;

}

.texTE p b {
  font-size: 20px;
  color: #fff;

}

.loren {
  height: 60%;
  width: 80%;
  /* border: 1px solid black; */
  margin: 20px;
  white-space: normal;
}

.buton {
  height: 20%;
  width: 150px;
  /* border: 1px solid black; */
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 30px;
}

.loren p {
  color: #fff;
  font-size: 20px;
  justify-content: center;
  padding: 10px;
}

.buton p {
  color: #000000;
  font-size: 30px;


}


#feature_texte{
height: 40px;
width: 85%;
/* border:1px solid #000000; */
  
}
.featuretest{

  font-size: 50px;
}

.featicone{
  height: 50px;
  width: 230px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 20px;
 align-items: center;
}
.ouioui{
  height: 40px;
width: 60px;
   /* border: 1px solid black; */
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.ouioui i{
  font-size: 40px;
  
}

.blog-container {
  height: 500px;
  width: 100%;
    display: flex;
    gap: 70px;
    /* border: 1px solid black; */
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

.blog-card {
   height: 98%;
    width: 27%;
    border-radius: 15px;  
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease;
     /* border: 2px solid rgb(247, 14, 14); */
}

.blog-card:hover {
    transform: translateY(-8px);
}

.blog-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
     /* border: 2px solid rgb(10, 44, 241); */
}

.blog-content {
    padding: 10px;
    height: 60%;
    width: 100%;

     /* border: 2px solid rgb(39, 248, 12); */
}

.blog-date {
    font-size: 17px;
    color: rgb(24, 23, 23);
    margin-bottom: 10px;
     /* border: 1px solid black; */
}

.TOp h3 {
    margin-bottom: 15px;
     /* border: 2px solid rgb(172, 15, 15); */
     font-size: 18px;
}

.blog-text {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
     /* border: 2px solid rgb(18, 240, 63); */
}

.blog-btn {
    text-decoration: none;
    color: #00a389;
    font-weight: bold;
     /* border: 2px solid rgb(195, 30, 30); */
     display: flex;
   align-items: center;
   height: 50px;
   width: 120px;
   font-size: 20px;
     border-radius: 20px;
}































#testimonials{
  height: 700px;
 width: 100%;
border: 2px solid black;
background-image: url(Images/RectangleImage\ 2026-02-25\ at\ 14.30.36.jpeg);
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
 gap: 70px;

}
#feature_texte2{
height: 20%;
width: 96%;
border:1px solid #ee1c1c;
  padding: 20px;
}


.itete{
  height: 60%;
  width: 100%;
  border: 2px solid black;
  display: flex;
 justify-content: space-around;

text-align: center;
align-items: center;
}
.toille{
  height: 80%;
  width: 30%;
  border: 2px solid black;
}